/* タイピングゲーム全体 */
body {
    font-size: 6em;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* ゲーム残り秒数が常時されるタイマーの領域 */
.count {
    margin: 0;
    font-weight: bold;
    color: #888;
}

/* テキストが表示される領域 */
.wrap {
    margin-top: 20px;
    padding: 80px 40px;
    background-color: #666;
    font-weight: bold;
    color: #fff;
}

/* 正しくタイプされた場合のテキスト */
.typed {
    color: lightgreen;
}

/* ミスタイプの場合の背景 */
.mistyped {
    background-color: red;
}

/* 現在のタイプ数をカウント */
#typecounter {
    font-size: 50px;
    margin: 20px 0;
    font-weight: bold;
    color: #888;
}